@import "../../styles/varibales.module.scss";

.passwordRecovery {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-weight: 700;
    @include adaptive-value("font-size", 24, 20);
    line-height: 130%;
    color: #322f55;
    text-align: center;
    margin: 0 0 30px;
  }

  .passwordRecovery__button {
    background-color: #7329c2;
    border-color: #7329c2;
    color: #ffffff;
    width: 200px;

    span {
      margin-right: 8px;
    }

    &:hover,
    &:focus {
      background-color: #03d665;
      border-color: #03d665;
    }
  }
}
