.profile {
  background: #ffffff;
  .profile__body {
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;

    .coverFirst {
      width: 100%;
      height: 300px;
    }

    .coverSecond{
      display: none;
    }

    .profile__content {
      max-width: 1000px;
      position: relative;
      margin: 5% auto;
      .avatar {
        position: absolute;
        top: -135px;
        img {
          width: max-content;
          height: 100px;
          border-radius: 50%;
        }
      }
      .container {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        .name h2,
        p {
          font-family: "Inter", sans-serif;
          font-style: normal;
        }

        .name {
          h2 {
            font-weight: 500;
            font-size: 30px;
            line-height: 140%;
          }

          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #838383;
          }
        }
      }

      .text {
        max-width: 600px;
        margin: 5% 0;
        p {
          font-family: "Inter", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 160%;
        }
      }
    }

    .loading {
      margin-top: 150px;
      text-align: center;
    }
  }
}

@media (max-width: 850px) {
  .profile {
    .profile__body {
      .coverFirst {
        display: none;
      }
      .coverSecond {
        width: 100%;
        height: 200px;
        display: block;
        background: #f3f3f3;
        border-bottom: 1px solid #e6e6e6;
      }
      .profile__content {
        margin: 85px 30px 137px 30px;
      }
    }
  }
}

@media (max-width: 590px) {
  .profile {
    .profile__body {
      .profile__content {
        .container {
          display: none;
        }
      }
    }
  }
}
