@import "../../styles/varibales.module.scss";

.categories {
  @include centering();
  margin: 0 auto;

  h2 {
    font-weight: 700;
    @include adaptive-value("font-size", 35, 20);
    line-height: 130%;
    color: #322f55;
    margin: 20px 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    .categories__item {
      display: block;
      max-width: 300px;
      border-radius: 4px;
      box-shadow: 0 8px 40px -5px rgba(9, 31, 67, 0.1);
      margin: 10px;

      img {
        height: 200px;
        width: 100%;
        border-radius: 4px;
        object-fit: cover;
      }

      h2 {
        text-align: center;
        font-weight: 700;
        @include adaptive-value("font-size", 30, 15);
        line-height: 130%;
        color: #322f55;
      }
    }
  }
}
