@import "../../styles/varibales.scss";

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.statistics {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  box-sizing: border-box;
  margin: 0 auto;

  .statistics__item {
    text-align: center;
    
    .__num {
      font-weight: 400;
      line-height: 130%;
      @include adaptiv-font(58, 15);
      animation-fill-mode: forwards;
      counter-reset: num var(--num);
      color: #03d665;

      &::before {
        content: counter(num);
      }

      &::after {
        content: "+";
      }
    }

    .__num1 {
      animation: counter-to-20 2s alternate ease-in-out;
      animation-fill-mode: forwards;
    }

    p {
      font-weight: 400;
      line-height: 130%;
      @include adaptiv-font(15, 8);
      color: #7f7f7f;
      letter-spacing: 1px;
    }
  }
}

@keyframes counter-to-20 {
  0% {
    --num: 0;
  }
  100% {
    --num: 20;
  }
}
