.payment {
  max-width: 400px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 200px auto;
  padding: 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  h2 {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .ant-form-item {
    margin-bottom: 16px;
  }

  .paymentButton {
    background-color: #03d665;
    border-color: #03d665;
    color: #ffffff;

    &:hover,
    &:focus {
      background-color: #7329c2;
      border-color: #7329c2;
    }
  }
}
