@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

@font-face {
  font-family: "Nunito", sans-serif;
  src: url(../fonts/Nunito-Black.ttf);
  src: url(../fonts/Nunito-Bold.ttf);
  src: url(../fonts/Nunito-ExtraLight.ttf);
  src: url(../fonts/Nunito-Light.ttf);
  src: url(../fonts/Nunito-Medium.ttf);
  src: url(../fonts/Nunito-Black.ttf);
  src: url(../fonts/Nunito-Regular.ttf);
  src: url(../fonts/Nunito-SemiBold.ttf);
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
li,
ul,
input {
  text-decoration: none;
  list-style: none;
  font-family: "Nunito", sans-serif;
  font-style: normal;
}

.ant-form-item {
  margin: 7% 0 0 0;
}