* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url(../fonts/Poppins-Regular.ttf);
}
