@import "../../../styles/varibales.module.scss";

.myButton {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border: none;
  // outline: none;
  transition: all 0.4s;

  span {
    font-weight: 400;
    @include adaptive-value("font-size", 15, 8);
    line-height: 130%;
  }
}

.myButton__hover {
  width: 100%;
  height: 0;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  transition: all 0.4s;
}

.myButton:active {
  top: 2px;
}
