@import "../../styles/varibales.module.scss";

.header {
  width: 100%;
  position: fixed;
  z-index: 11;
  top: 5%;
  transition: 0.3s;

  .header__nav {
    max-width: 74vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background: #fdfdfd;
    border-radius: 5rem;
    box-shadow: 0 4px 4.25px 0.75px rgba(0, 0, 0, 0.13);
    padding: 1% 5%;
    box-sizing: border-box;
    margin: 0 auto;
    transition: 1s;

    .header__logo {
      @include adaptive-value("font-size", 50, 30);
      color: #7329c2;
    }

      .header__list {
        position: relative;
        display: flex;
        justify-content: space-between;
        @include adaptive-value("gap", 50, 30);

        li {
          a {
            font-weight: 400;
            @include adaptive-value("font-size", 18, 5);
            line-height: 130%;
          }
        }
        .animateLine {
          height: 4px;
          position: absolute;
          bottom: -15px;
          background: #03d665;
          border-radius: 10px;
          transition: 0.3s;
        }
      }
    

    .header__buttons {
      display: flex;
      align-items: center;
      gap: 10px;

      .header__signButton {
        button {
          @include adaptive-value("height", 32, 20);
          // background: #7329c2;
        }
      }

      .header__languageButton {
        button {
          @include adaptive-value("height", 32, 20);
          // background: #7329c2;

          svg {
            @include adaptive-value("font-size", 20, 10);
            color: #ffffff;
          }
        }
      }
    }
  }
}

.headerActive {
  top: 0;
  background: #fdfdfd;
  box-shadow: 0 8px 40px -5px rgba(9, 31, 67, 0.1);
  transition: 0.7s;

  .header__nav {
    max-width: 1440px;
    border-radius: 0;
    box-shadow: none;
    transition: 0.3s;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    .header__nav {
        .header__list {
          .animateLine {
            height: 3px;
            bottom: -10px;
          }
        }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .header__nav {
      .header__list {
        display: none;
      }
    }
  }
}
