@import "../../styles/varibales.scss";

.header {
  width: 100%;
  position: fixed;
  z-index: 11;
  top: 5%;
  transition: 0.3s;

  .header__content {
    max-width: 74vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background: #fdfdfd;
    border-radius: 5rem;
    box-shadow: 0 4px 4.25px 0.75px rgba(0, 0, 0, 0.13);
    padding: 1% 5%;
    box-sizing: border-box;
    margin: 0 auto;
    transition: 1s;

    .header__logo {
      width: 60px;
      color: #7329c2;
    }

    .header__nav {
      .header__list {
        position: relative;
        display: flex;
        justify-content: space-between;
        gap: 50px;

        li {
          a {
            font-weight: 400;
            @include adaptive-value("font-size", 18, 5);
            line-height: 130%;
          }
        }
        .animateLine {
          height: 4px;
          position: absolute;
          bottom: -15px;
          background: #03d665;
          border-radius: 10px;
          transition: 0.3s;
        }
      }
    }

    .header__buttons {
      display: flex;
      align-items: center;
      gap: 20px;

      .header__signButton {
        button {
          background: #7329c2;
        }
      }

      .header__languageButton {
        button {
          width: 30px;
          background: none;
          border-radius: 50%;
          cursor: pointer;
          border: none;
          color: #7329c2;
        }
      }
    }
  }
}

.headerActive {
  top: 0;
  background: #fdfdfd;
  box-shadow: 0 8px 40px -5px rgba(9, 31, 67, 0.1);
  transition: 0.7s;
  .header__content {
    max-width: 1440px;
    border-radius: 0;
    box-shadow: none;
    transition: 0.3s;
  }
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1024px) {
  .header {
    .header__content {
      gap: 20px;

      .header__logo {
        width: 40px;
      }

      .header__nav {
        .header__list {
          gap: 30px;

          .animateLine {
            height: 3px;
            bottom: -10px;
          }
        }
      }

      .header__buttons {
        gap: 20px;

        .header__signButton {
          button {
            height: 30px;
          }
        }

        .header__languageButton {
          button {
            width: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .header__content {
      .header__logo {
        width: 30px;
      }

      .header__nav {
        display: none;
      }

      .header__buttons {
        .header__signButton {
          button {
            height: 20px;
          }
        }

        .header__languageButton {
          button {
            width: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
}
